@font-face {
  font-family: "IvyOra Display Light";
  src: url('./fonts/ivyora-display/IvyOraDisplay-Light.woff2') format('woff2');
  font-style: normal;
}

@font-face {
  font-family: "IvyOra Display Medium";
  src: url('./fonts/ivyora-display/IvyOraDisplay-Medium.woff2') format('woff2');
  font-style: normal;
}
:root {
    --mainBg: #F6F7EF;
    --mainText: #171B26;
}

*, html {
    margin: 0;
    padding: 0;
    font-family: "Manrope";
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.5s ease;
}

a {
    color: inherit;
    text-decoration: inherit;
}

button {
    border: 0;
    background: none;
    color: inherit;
    cursor: pointer;
    background-color: inherit;
    font-size: inherit;
    font-family: inherit;
}

body {
    min-height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: var(--mainBg); 
    color: var(--mainText);
}

.dashboard-grid {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 5fr;
    gap: 1rem;
    padding: 1rem;
    
}

.sidebar-section {
    grid-area: "sidebar";
    grid-row: 1/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    border-right: solid 1px black;
    border-radius: 25px;
    gap: 2rem;
}

.sidebar-section .logo {
    font-family: "IvyOra Display Light";
    font-size: 40px;
}

.hero-section {
    grid-area: "hero";
    background-color: #fbffd0;
    grid-row: 1/2;
    grid-column: 2/3;
}
.content-section {
    grid-area: "content";
    grid-row: 2/3;
    grid-column: 2/3;
}

.items {
    display: flex;
    /* background-color: lightcoral; */
    flex-direction: column; 
    width: 100%;
    gap: 1rem;
}

.item {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    font-size: 20px;
}

/* Projects Styles*/
.projects-cont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.projects-cont .card {
    box-shadow: 0 2px 5px 0 rgba(144, 144, 144, 0.249);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem 3rem;
    border-radius: 20px;
    font-size: 20px;
    background-color: white;
    gap: 0.5rem;
}

.projects-cont .card:hover {
    background-color: black;
    color: var(--mainBg);
    cursor: pointer;
}

.projects-cont .title {
    font-size: 30px;
}

/* Tasks Styles*/
.tasks-section .head {
    font-family: "IvyOra Display Light";
    font-weight: 300;
}

.tasks-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.tasks-cont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.tasks-cont .card-content {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 1rem;
    flex: 1;
}

.tasks-cont .card {
    display: flex;
    gap: 2rem;
    background-color: #F1D1A8;
    padding: 1rem 2rem;
    border-radius: 20px;
    box-shadow: 0 2px 5px 0 rgba(144, 144, 144, 0.249);
}

.icons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.tasks-cont .title {
    font-size: 30px;
}

.tasks-cont .inside-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.priority {
    padding: 0.25rem 1rem;
    background-color: var(--mainBg);
    border-radius: 50px;
}

.urgent {
    color: red;
}
.regular {
    color: rgb(0, 158, 211);
}

.tasks-section img {
    width: 340px;
    margin: 1rem;
    align-self: center;
}